server:
  port: 8080
  error:
    whitelabel:
      enabled: false

spring:
  application:
    name: clinica-agendamento

  freemarker:
    enabled: true
    template-loader-path: classpath:/templates/
    suffix: .ftl
    cache: false
    charset: UTF-8
    settings:
      number_format: computer
      datetime_format: yyyy-MM-dd HH:mm:ss
      default_encoding: UTF-8
      output_encoding: UTF-8

  mvc:
    throw-exception-if-no-handler-found: true

  web:
    resources:
      static-locations: classpath:/static/

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
